PHASE_1/projscrape/projscrape/__pycache__/
PHASE_1/projscrape/posts.json
PHASE_1/API_SourceCode/__pycache__/
PHASE_1/API_SourceCode/myprojectenv/
PHASE_1/API_SourceCode/seng3011env/
PHASE_1/API_SourceCode/db/model_manual/db.env
PHASE_1/API_SourceCode/db/model_sql_alchemy/db.env