html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* damn i hate frontend */
button[title="Replace Window"] {
  display: none;
}

button[title="Split Window"]::before {
  content: "+"
}

button[title="Expand"]::before {
  content: '↑';
}
button[title="Close Window"]::before {
  content: '×';
}