.img {
    width: 100%;

    aspect-ratio: 20 / 5;

    background-position: center 32.5%;
    background-repeat: no-repeat;
    background-size: cover;

    /*height: 80vh;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
}
.img1 {
    background-image: url('./1.jpg');
}
.img2 {
    background-image: url('./2.jpg');
}
.img3 {
    background-image: url('./3.jpg');
    
}

.verticallyCentreDiv {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dashboard-img {
    background-image: url('./dashboard.png');

    width: 25vw;
    aspect-ratio: 981/823;

    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeMessage {
    font-family: Arial;
    font-size: 60px;
    position: relative;
    left: 20px;
    top: 20px;
}



.familiarMessage {
    font-family: Arial;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 20px;
}

.introMessage {
    font-family: Arial;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 50px;
    width: 600px;
}

.features {
    background-color: rgb(0, 36, 106);
    height: 450px;
}

.services {
    font-family: Cochin, Georgia;
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 30px;
}

.demos {
    font-family: Cochin, Georgia;
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 130px;
}

.DashboardHome {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.MarketPlaceUpload {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.MarketPlaceBrowse {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.InputApi {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.BrowseDisease {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.FirstFeatures {
    position: relative;
    left: 30.6%;
    top: 7%;
}
.MoreFeatures {
    position: relative;
    left: -1%;
    top: 24%;
}


.allDemos {
    position: relative;
    left: 30.8%;
    top: 30%;
}

.MarketPlaceOnboard {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.DashboardOnboard {
    font-family: Cochin, Georgia;
    font-size: 40px;

    background-color: white;
    width: 200px;
}

.DiseaseOnboard {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
}

.ExternalOnboard {
    font-family: Cochin, Georgia;
    font-size: 40px;
    background-color: white;
    width: 200px;
    position: relative;
    top: 75px;
    left: -375%;
}
