.navbar {
  padding-left: 2em;
}

.dataSourceSelect {
  float: right;
  margin-right: 1em;
  margin-left: 0em;
  order: 3;
  position: absolute !important;
  right: 1em !important;
}

@media screen and (max-width: 600px) {
  .dataSourceSelect .ant-btn{
      display: none;
  }

  .dataSourceSelect .ant-btn-icon-only {
      display: inline !important; /* override the above hide for this button only */
  }
}

.logo {
  float: left;
  color: white;
  margin-right: 1em;
  margin-left: 0em;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.content {
  min-height: 280px;
  background: white;
}

/* button {
  background: none;
  font-size: inherit;
  border: 1px solid;
} */