
.SourceRootStart {
    font-family: Arial;
    font-size: 60px;
    position: relative;
    width: 150px;
}

.SourceRootEnd {
    font-family: Arial;
    font-size: 60px;
    position: relative;
    width: 150px;
    left: 16.5%;
}

.DropDown {
    position: relative;
    width: 600px;
    left: 15.5%;
    
}

.typeEntry {
    position: relative;
    width: 600px;
    left: 15.5%;
}

.DateEntry {
    position: relative;
    left: 15.5%;
}

.dateEntry {
    width: 100px;
}
.dateEntryFormat {
    position: relative;
    left: 0.1%;
}

.RemoveField {
    position: relative;
    left: 0.6%;
}

.RemoveFieldWeird {
    position: relative;
    left: 16%;
}

.StringEntry {
    position: relative;
    left: 15.5%;
}

.NumberEntry {
    position: relative;
    left: 15.5%;
}

.SubmitButton {
    position: relative;
    left: 27%;
    top: 50px;
}

.ApiStructure {
    position: relative;
    left:30%;
}