mysql-connector-python==8.0.28
regex==2022.1.18    # needed because there's a bug in later version which makes dateparser crash on version 3.9 https://github.com/scrapinghub/dateparser/issues/1045
python-dotenv==0.19.2
SQLAlchemy==1.4.32
black
scrapy
datefinder
spacy
pytest
mysql-connector-python
dateparser
pytest
Flask
uwsgi
black
apscheduler
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl